# Data Cleaning

In [1]:
#import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('/content/world_bank_data_combined.xlsx')
df.head()

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],2000 [YR2000],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Austria,AUT,"Population, total",SP.POP.TOTL,7677850,8011566,8546356,8642699,8736668,8797566,8840521,8879920,8916864,8955797,9041851,9132383
1,Austria,AUT,Population growth (annual %),SP.POP.GROW,0.762002,0.240467,0.781542,1.120993,1.081396,0.694621,0.487072,0.444674,0.415177,0.435672,0.956288,0.996276
2,Austria,AUT,Surface area (sq. km),AG.SRF.TOTL.K2,83879,83879,83879,83879,83879,83879,83879,83879,83879,83879,..,..
3,Austria,AUT,Population density (people per sq. km of land ...,EN.POP.DNST,93.042293,97.086355,103.567087,104.734598,105.87334,106.611318,107.131859,107.609307,108.057004,108.528805,..,..
4,Austria,AUT,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,..,..,13.9,14.1,14.4,14.3,13.3,13.9,14.7,14.8,..,..

In [3]:
df.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1990 [YR1990]', '2000 [YR2000]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]'],
      dtype='object')

In [4]:
#rename columns
df = df.rename(columns = {'1990 [YR1990]':'1990',
                          '2000 [YR2000]':'2000',
                          '2014 [YR2014]':'2014',
                          '2015 [YR2015]':'2015',
                          '2016 [YR2016]':'2016',
                          '2017 [YR2017]':'2017',
                          '2018 [YR2018]':'2018',
                          '2019 [YR2019]':'2019',
                          '2020 [YR2020]':'2020',
                          '2021 [YR2021]':'2021',
                          '2022 [YR2022]':'2022',
                          '2023 [YR2023]':'2023'})
df.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code', '1990',
       '2000', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [5]:
#drop columns
df = df.drop(['Series Code', '1990', '2000'], axis=1)

In [6]:
#remove the unnecessary content
removed_factors = [
    'Population density (people per sq. km of land area)',
    'GNI, Atlas method (current US$)',
    'GNI, PPP (current international $)',
    'GNI per capita, Atlas method (current US$)',
    'GNI per capita, PPP (current international $)',
    'Revenue, excluding grants (% of GDP)',
    'Domestic credit provided by financial sector (% of GDP)',
    'School enrollment, primary and secondary (gross), gender parity index (GPI)',
    'Fertility rate, total (births per woman)',
    'Contraceptive prevalence, any method (% of married women ages 15-49)',
    'Terrestrial and marine protected areas (% of total territorial area)',
    'Annual freshwater withdrawals, total (% of internal resources)',
    'Statistical Capacity Score (Overall Average) (scale 0 - 100)',
    'Poverty headcount ratio at national poverty lines (% of population)',
    'Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)',
    'Income share held by lowest 20%',
    'Adolescent fertility rate (births per 1,000 women ages 15-19)',
    'Births attended by skilled health staff (% of total)',
    'Prevalence of underweight, weight for age (% of children under 5)',
    'Gross capital formation (% of GDP)',
    'High-technology exports (% of manufactured exports)',
    'Merchandise trade (% of GDP)',
    'Net barter terms of trade index (2015 = 100)',
    'External debt stocks, total (DOD, current US$)',
    'Total debt service (% of exports of goods, services and primary income)',
    'Personal remittances, received (current US$)',
    'Net official development assistance and official aid received (current US$)'
]

df = df[~df['Series Name'].isin(removed_factors)].reset_index(drop=True)
df

,Country Name,Country Code,Series Name,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Austria,AUT,"Population, total",8546356,8642699,8736668,8797566,8840521,8879920,8916864,8955797,9041851,9132383
1,Austria,AUT,Population growth (annual %),0.781542,1.120993,1.081396,0.694621,0.487072,0.444674,0.415177,0.435672,0.956288,0.996276
2,Austria,AUT,Surface area (sq. km),83879,83879,83879,83879,83879,83879,83879,83879,..,..
3,Austria,AUT,"Life expectancy at birth, total (years)",81.490244,81.190244,81.641463,81.643902,81.692683,81.895122,81.192683,81.190244,81.092683,..
4,Austria,AUT,"Mortality rate, under-5 (per 1,000 live births)",3.8,3.7,3.6,3.6,3.5,3.5,3.4,3.3,3.2,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5707,Cuba,CUB,Tax revenue (% of GDP),..,..,..,..,..,..,..,..,..,..
5708,Cuba,CUB,Military expenditure (% of GDP),3.536005,3.083791,3.072188,2.872403,2.876207,..,..,..,..,..
5709,Cuba,CUB,Mobile cellular subscriptions (per 100 people),22.332741,29.412497,35.160428,40.698811,47.432912,53.3957,58.950014,63.104666,67.784182,..
5710,Cuba,CUB,Net migration,-14543,-14372,-14454,-14498,-14219,-13686,-7068,-7068,-6000,-6000
5711,Cuba,CUB,"Foreign direct investment, net inflows (BoP, c...",..,..,..,..,..,..,..,..,..,..

In [7]:
#roundoff big decimal numbers
import numpy as np
for col in df.columns[1:]:
  df[col] = df[col].apply(lambda x: round(x, 2) if isinstance(x, (float, np.floating)) else x)

df.replace('..', pd.NA, inplace=True)

In [8]:
# Melt the DataFrame to transform year columns into a 'Year' column
melted_df = df.melt(
    id_vars=['Country Name', 'Country Code', 'Series Name'],
    value_vars=['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
    var_name='Year',
    value_name='Value'
)

# Pivot the melted DataFrame
pivoted_df = melted_df.pivot_table(
    index=['Country Name', 'Country Code', 'Year'],
    columns='Series Name',
    values='Value',
    aggfunc='first'
).reset_index()

pivoted_df

Series Name,Country Name,Country Code,Year,"Agriculture, forestry, and fishing, value added (% of GDP)",CO2 emissions (metric tons per capita),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Foreign direct investment, net inflows (BoP, current US$)",Forest area (sq. km),...,Population growth (annual %),"Population, total","Prevalence of HIV, total (% of population ages 15-49)","Primary completion rate, total (% of relevant age group)","School enrollment, primary (% gross)","School enrollment, secondary (% gross)",Surface area (sq. km),Tax revenue (% of GDP),Time required to start a business (days),Urban population growth (annual %)
0,Afghanistan,AFG,2014,22.14,0.28,NaN,NaN,NaN,42975262.5,12084.4,...,3.66,32716210,0.1,NaN,109.12,54.24,652860,6.88,8.5,4.53
1,Afghanistan,AFG,2015,20.63,0.3,NaN,NaN,NaN,169146608,12084.4,...,3.12,33753499,0.1,NaN,106.18,53.29,652860,7.59,8.5,4.0
2,Afghanistan,AFG,2016,25.74,0.27,NaN,NaN,NaN,93591315.3,12084.4,...,2.58,34636207,0.1,82.91,106.15,53.51,652860,9.5,8.5,3.45
3,Afghanistan,AFG,2017,26.42,0.28,NaN,NaN,NaN,51533896.77,12084.4,...,2.87,35643418,0.1,87.25,106.13,55.4,652860,9.9,8.5,3.78
4,Afghanistan,AFG,2018,22.04,0.3,NaN,NaN,NaN,119435105.72,12084.4,...,2.89,36686784,0.1,88.74,107.78,57.04,652860,NaN,8.5,3.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2035,Zimbabwe,ZWE,2019,9.82,0.66,NaN,NaN,27.55,249500000,174906.5,...,1.99,15354608,12.6,90.23,97.48,NaN,390760,NaN,27,1.99
2036,Zimbabwe,ZWE,2020,8.77,0.53,NaN,NaN,22.29,150360000,174445.8,...,2.03,15669666,12.1,91.87,97.38,NaN,390760,NaN,NaN,2.13
2037,Zimbabwe,ZWE,2021,8.85,NaN,NaN,NaN,22.78,250000000,173985.1,...,2.05,15993524,11.6,86.1,96.01,NaN,390760,NaN,NaN,2.23
2038,Zimbabwe,ZWE,2022,7.19,NaN,NaN,NaN,27.96,341500000,NaN,...,2.02,16320537,11,86.12,95.79,NaN,NaN,NaN,NaN,2.31
2039,Zimbabwe,ZWE,2023,27.01,NaN,NaN,NaN,NaN,NaN,NaN,...,2.09,16665409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.47

In [9]:
pivoted_df.isnull().sum()

Series Name
Country Name                                                     0
Country Code                                                     0
Year                                                             0
Agriculture, forestry, and fishing, value added (% of GDP)     221
CO2 emissions (metric tons per capita)                         731
Electric power consumption (kWh per capita)                   1896
Energy use (kg of oil equivalent per capita)                  1873
Exports of goods and services (% of GDP)                       328
Foreign direct investment, net inflows (BoP, current US$)      337
Forest area (sq. km)                                           424
GDP (current US$)                                               79
GDP growth (annual %)                                           90
Immunization, measles (% of children ages 12-23 months)        348
Imports of goods and services (% of GDP)                       328
Industry (including construction), value added (% of GDP)      193
Inflation, GDP deflator (annual %)                              90
Life expectancy at birth, total (years)                        262
Military expenditure (% of GDP)                                719
Mobile cellular subscriptions (per 100 people)                 322
Mortality rate, under-5 (per 1,000 live births)                348
Net migration                                                    0
Population growth (annual %)                                     1
Population, total                                                0
Prevalence of HIV, total (% of population ages 15-49)          754
Primary completion rate, total (% of relevant age group)       907
School enrollment, primary (% gross)                           605
School enrollment, secondary (% gross)                         844
Surface area (sq. km)                                          408
Tax revenue (% of GDP)                                         854
Time required to start a business (days)                       935
Urban population growth (annual %)                               1
dtype: int64

In [10]:
#save cleaned file
pivoted_df.to_csv('world_bank_data_cleaned.csv', index=False)
pivoted_df.to_excel('world_bank_data_cleaned.xlsx', index=False)

# FastAPI

In [11]:
!pip install fastapi uvicorn nest-asyncio pyngrok

Collecting fastapi
  Downloading fastapi-0.111.1-py3-none-any.whl.metadata (26 kB)
Collecting uvicorn
  Downloading uvicorn-0.30.3-py3-none-any.whl.metadata (6.5 kB)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (1.6.0)
Collecting pyngrok
  Downloading pyngrok-7.2.0-py3-none-any.whl.metadata (7.4 kB)
Collecting starlette<0.38.0,>=0.37.2 (from fastapi)
  Downloading starlette-0.37.2-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from fastapi) (2.8.2)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.10/dist-packages (from fastapi) (4.12.2)
Collecting fastapi-cli>=0.0.2 (from fastapi)
  Downloading fastapi_cli-0.0.4-py3-none-any.whl.metadata (7.0 kB)
Collecting httpx>=0.23.0 (from fastapi)
  Downloading httpx-0.27.0-py3-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: jinja2>=2.11.2 in /usr/local/lib/python3.10/dist-packages (from fastapi) (3.1.4)
Collecting python-multipart>=0.0.7 (from fastapi)
  Downloading python_multipart-0.0.9-py3-none-any.whl.metadata (2.5 kB)
Collecting email_validator>=2.0.0 (from fastapi)
  Downloading email_validator-2.2.0-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.10/dist-packages (from uvicorn) (8.1.7)
Collecting h11>=0.8 (from uvicorn)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: PyYAML>=5.1 in /usr/local/lib/python3.10/dist-packages (from pyngrok) (6.0.1)
Collecting dnspython>=2.0.0 (from email_validator>=2.0.0->fastapi)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: idna>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from email_validator>=2.0.0->fastapi) (3.7)
Requirement already satisfied: typer>=0.12.3 in /usr/local/lib/python3.10/dist-packages (from fastapi-cli>=0.0.2->fastapi) (0.12.3)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.23.0->fastapi) (3.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx>=0.23.0->fastapi) (2024.7.4)
Collecting httpcore==1.* (from httpx>=0.23.0->fastapi)
  Downloading httpcore-1.0.5-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.23.0->fastapi) (1.3.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.11.2->fastapi) (2.1.5)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (2.20.1)
Collecting httptools>=0.5.0 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading httptools-0.6.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.6 kB)
Collecting python-dotenv>=0.13 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Collecting uvloop!=0.15.0,!=0.15.1,>=0.14.0 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading uvloop-0.19.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Collecting watchfiles>=0.13 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading watchfiles-0.22.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Collecting websockets>=10.4 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading websockets-12.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio->httpx>=0.23.0->fastapi) (1.2.2)
Requirement already satisfied: shellingham>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.10/dist-packages (from typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (13.7.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (2.16.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (0.1.2)
Downloading fastapi-0.111.1-py3-none-any.whl (92 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 92.2/92.2 kB 4.4 MB/s eta 0:00:00
Downloading uvicorn-0.30.3-py3-none-any.whl (62 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 62.8/62.8 kB 4.5 MB/s eta 0:00:00
Downloading pyngrok-7.2.0-py3-none-any.whl (22 kB)
Downloading email_validator-2.2.0-py3-none-any.whl (33 kB)
Downloading fastapi_cli-0.0.4-py3-none-any.whl (9.5 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 58.3/58.3 kB 4.3 MB/s eta 0:00:00
Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 75.6/75.6 kB 4.2 MB/s eta 0:00:00
Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 77.9/77.9 kB 4.5 MB/s eta 0:00:00
Downloading python_multipart-0.0.9-py3-none-any.whl (22 kB)
Downloading starlette-0.37.2-py3-none-any.whl (71 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 71.9/71.9 kB 3.2 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 307.7/307.7 kB 10.9 MB/s eta 0:00:00
Downloading httptools-0.6.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (341 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 341.4/341.4 kB 14.1 MB/s eta 0:00:00
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Downloading uvloop-0.19.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.4 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3.4/3.4 MB 48.3 MB/s eta 0:00:00
Downloading watchfiles-0.22.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.2/1.2 MB 27.7 MB/s eta 0:00:00
Downloading websockets-12.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (130 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 130.2/130.2 kB 8.6 MB/s eta 0:00:00
Installing collected packages: websockets, uvloop, python-multipart, python-dotenv, pyngrok, httptools, h11, dnspython, watchfiles, uvicorn, starlette, httpcore, email_validator, httpx, fastapi-cli, fastapi
Successfully installed dnspython-2.6.1 email_validator-2.2.0 fastapi-0.111.1 fastapi-cli-0.0.4 h11-0.14.0 httpcore-1.0.5 httptools-0.6.1 httpx-0.27.0 pyngrok-7.2.0 python-dotenv-1.0.1 python-multipart-0.0.9 starlette-0.37.2 uvicorn-0.30.3 uvloop-0.19.0 watchfiles-0.22.0 websockets-12.0

In [13]:
import json
import pandas as pd
from fastapi import FastAPI
from fastapi.responses import FileResponse, HTMLResponse
import nest_asyncio
from pyngrok import ngrok
import uvicorn

app = FastAPI()

@app.get("/")
def read_root():
    return {"Hello": "World"}

@app.get("/world_bank_data_cleaned")
async def download_file():
    file_path = "world_bank_data_cleaned.csv"
    return FileResponse(file_path, media_type='text/csv', filename='world_bank_data_cleaned.csv')

@app.get("/country/{country_name}")
async def get_country_data(country_name: str):
    df = pd.read_csv("world_bank_data_cleaned.csv")
    country_data = df[df['Country Name'] == country_name]

    if country_data.empty:
        return {"error": "Country not found"}
    else:
        # Convert the DataFrame to an HTML table
        html_table = country_data.to_html(index=False)
        return HTMLResponse(content=html_table, status_code=200)

# Replace the following line with your actual ngrok authtoken
# !ngrok authtoken YOUR_NGROK_AUTHTOKEN

ngrok_tunnel = ngrok.connect(8000)
print('Public URL:', ngrok_tunnel.public_url)
File_url = ngrok_tunnel.public_url + '/world_bank_data_cleaned'
print(File_url)
nest_asyncio.apply()
uvicorn.run(app, port=8000)

Public URL: https://4bd5-34-73-153-245.ngrok-free.app
https://4bd5-34-73-153-245.ngrok-free.app/world_bank_data_cleaned

INFO:     Started server process [139]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://127.0.0.1:8000 (Press CTRL+C to quit)

INFO:     73.234.146.206:0 - "GET /country/India HTTP/1.1" 200 OK
INFO:     73.234.146.206:0 - "GET /favicon.ico HTTP/1.1" 404 Not Found
INFO:     73.234.146.206:0 - "GET /world_bank_data_cleaned HTTP/1.1" 200 OK

INFO:     Shutting down
INFO:     Waiting for application shutdown.
INFO:     Application shutdown complete.
INFO:     Finished server process [139]